body{
    background-color: rgb(210, 210, 210);
    font-family: 'Heebo', sans-serif;
    margin:0;
}

a{text-decoration: none; color:black;}
a:hover{text-decoration: underline;}

body>header{
    background-color: #fff;
    display:flex;
    width:100%;
    margin:0 auto 2em auto;    
    padding:0;

}
body>header img{
    height:5em;
    margin: 5px 5px 5px 5px;
}
body>header #menu {
    display:flex;
    width:30%;
    align-items: stretch;
    /* border-left: 1px solid #99b; */
}
body>header #menu a{
    flex:1;
    text-align: center;
    padding-top:2em;
    /* border-right: 1px solid #99b; */
}

body>header ul{list-style: none;}
body>header #user
{
    margin-left: auto;
    flex:0.2;
    /* border-left: 1px solid #99b; */
}
body>header #user>a{
    display:block;
    text-align: center;
    padding:2em 0;
    width:100%;
}
body>header #user ul{ 
    display: none;
    position: absolute;
    padding:0;
    margin:0;
    text-align: center;
    background-color: #fff;
    border: 1px solid #99b;

    z-index: 1;
}
body>header #user ul li a{
    display:block;
    width:10em;
    padding:1em;
    border-bottom: 1px solid #99b;
}
body>header #user:hover ul{
    display:block;
}


#wrapper{
    display:flex;    
    width:70em;
    margin:0 auto 2em auto;
}

#wrapper main{
    flex:3;
    padding-left:1em;
    height: 80vh;
    overflow-y:  scroll;
}
#wrapper main article{
    background-color: #fff;
    padding:1em;
    margin-bottom: 1em ;
    border-radius: 1em;
}
#wrapper main article h3{
    margin:0em 1em 0em 1em;
    padding:0;
    font-weight:lighter;
    font-size:1em;

}
#wrapper main article time{
    float:left;
    font-style: normal;
    color:rgb(140, 140, 186);
}
#wrapper main article address{
    text-align: right;
    font-style: italic;
    margin-bottom: 1em;
}
#wrapper main article p{
    margin:0em 3em 0em 3em;
}

#wrapper main article footer{
    margin: 0em 0.5em 0em 0.5em;
    display:flex;
    justify-content: space-between;
}

.coms {
    font-size: 1em;
    margin-right: 1em;
    margin-bottom: 0.5em;
    text-align:right;
}





#wrapper.admin{flex-direction: row-reverse}
#wrapper.admin aside{flex:1;margin-left:1em;border-radius:0;padding:0;}
#wrapper.admin main{flex:2;background-color: #fff;border-radius: 0;padding:0;}
#wrapper.admin h2{text-align: center;}
#wrapper.admin h3{margin:0;}
#wrapper.admin nav{text-align: right;}
#wrapper.admin article{border:1px solid #ddd;border-radius: 1em;padding:1em;margin:1em;}
#wrapper.admin article p{float:left;margin:0;}


.parameters dl dt{float:left;font-weight: bold;line-height: 1.5em;}
.parameters dl dd{margin-left:15em;line-height: 1.5em;}

.contacts {
    display:flex;
    flex-wrap: wrap;
    align-items:flex-start;
    align-content: flex-start ;
}
.contacts article{
    width:25em;
    height:7em;
    margin-right: 1em;
}
.contacts article img{
    float:right;
    height: 5em;
}

pre{
    color:#aaa;
}

form dl dt{float:left;font-weight: bold;line-height: 1.5em;}
form dl dd{margin-left:10em;line-height: 1.5em;margin-bottom: 1em}
form dl dd textarea{width:40em;height: 15em;}

/* POUR LE MENU DEROULANT DES TAGS */

body>header #tags {
    display:flex;
    align-items: stretch;
    flex-direction: column;
    width: 180px;
}

body>header #tags a {
    border-right: none;
    margin-top: 2em;
    text-align: center;
}

body>header #tags ul{
    display: none;
    position:absolute;
    margin-top: 4em;
    background-color: #fff;
    height: 150px;
    width: 180px;
    overflow-y: scroll;
    padding: 0 0 0 0;
    text-align: center;
}

body>header #tags:hover ul{
    display:block;
    
}

body>header #tags .deroulant:hover {
    text-decoration: underline;
    background-color: #99b;
}
